
body {
  background-color: #001230;
  color: aliceblue;
  padding: 1rem;
  background: linear-gradient(90deg, #001230 21px, transparent 1%) center, linear-gradient(#001230 21px, transparent 1%) center,#76e0d0;
  background-size: 22px 22px;
}

hr {
  border-color: rgb(66, 167, 255);
}

div.vertical-line{
  width: 0px; /* Use only border style */
  height: 100%;
  float: left; 
  border: 1px inset; /* This is default border style for <hr> tag */
  border-color: rgb(66, 167, 255);
}

/* Element animation */
.flashit {
  color:#80ca76;
	-webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
  padding-left: 40%;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
}

/* Buttons
*/

body{margin:40px;}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
